.idea                                                                                                                                        
Lib                                                                                                                                          
Scripts                                                                                                                                      
__pycache__
*.cfg
txt/rockyou.txt
